*{
    margin:0;
    padding: 0;
}

body
{
    height:100%;
    background: linear-gradient(90deg, white 70%, #246ff8 30%);

}

img {
    max-width: 100%;
    max-height: 100%;
}

.header
{
    display:flex;
    justify-content: center;
    align-items:center;
    height:20vh;
    width:100%;
}

.header div:nth-child(1)
{
    display:flex;
    justify-content:center;
    height:15vh;
    width: 15vw;
    /*border: solid blueviolet;*/
    margin: 0.1em;
}

.titlteHeader{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:18vh;
    width: 70vw;
    text-align: center;
    /*border: solid green;*/
    margin: 0.1em;
}

h1
{
    font-size: 3vw;
    color:black;
}

.header p
{
    font-size: 2vw;
    color:black;
}


.header a:nth-child(3)
{
    display:flex;
    justify-content:center;
    height:10vh;
    width: 10vw;
    transition: transform 2s;
    margin: 0.1em;
    /*border: solid rgb(210, 240, 15);*/
}

.header a:nth-child(3):hover 
{
    transform: rotate3d(1, 1, 1, 0.05turn);
}

.header a:nth-child(4)
{
    display:flex;
    justify-content:center;
    height:10vh;
    width: 10vw;
    transition: transform 2s;
    margin: 0.1em;
    /*border: solid blue; */
}

.header a:nth-child(4):hover 
{
    transform: rotate3d(1, 1, 1, 0.05turn);
}

main{
    display:flex;
    justify-content: space-around;
    align-items:center;
    height:60vh;
    width:100%;

}

main div:nth-child(1)
{
    display:flex;
    justify-content:center;
    height:20vh;
    width: 20vw;
    transition: transform 2s;
    margin: 0.1em;
    /*border: solid blue;*/
    
}

main div:nth-child(1):hover 
{
    transform: rotate3d(1, 1, 1, 0.05turn);
}

main div:nth-child(2)
{
    display:flex;
    justify-content:center;
    height:20vh;
    width: 20vw;
    transition: transform 2s;
    margin: 0.1em;
    /*border: solid rgb(210, 240, 15);*/
}

main div:nth-child(2):hover 
{
    transform: rotate3d(1, 1, 1, 0.05turn);
}

main div:nth-child(3)
{
    display:flex;
    justify-content:center;
    height:20vh;
    width: 20vw;
    transition: transform 2s;
    margin: 0.1em;
    /*border: solid green;*/
}

main div:nth-child(3):hover 
{
    transform: rotate3d(1, 1, 1, 0.05turn);
}

footer
{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:15vh;
    width:100%;
}

footer a:nth-child(1)
{
    display:flex;
    justify-content:center;
    height:10vh;
    width: 20vw;
    /*border: solid rgb(210, 240, 15);*/
    margin-left: 2em;
    transition: transform 2s;
}

footer a:nth-child(1):hover {
    transform: rotate3d(1, 1, 1, 0.05turn);
    }

footer a:nth-child(2)
{
    display:flex;
    justify-content:center;
    height:10vh;
    width: 10vw;
    /*border: solid rgb(210, 240, 15);*/
    margin-right: 2em;
    transition: transform 2s;
}

footer a:nth-child(2):hover {
    transform: rotate3d(1, 1, 1, 0.05turn);
    }