*{
    margin:0;
    padding: 0;
}

@viewport 
{
    width: device-width ;
    zoom: 1.0 ;
}


.groupe 
{
    transition: transform 1500ms ease;
    transform-style: preserve-3d;
}

.scene3d 
{
    display:flex;
    align-items:center;
    perspective: 300px;
    transform-style: preserve-3d;
}

.scene3d:hover .groupe 
{
    transform: rotateY(180deg);
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* ---------------------HEADER------------------------- */

header
{
    display:flex;
    align-items:center;
    height:20vh;
    width:100%;
    background-color: #246ff8;
}

header div:nth-child(1)
{
    display:flex;
    justify-content: center;
    align-items:center;
    height: 90%;
    width: 15%;
    margin-left: 2% ;
}

header div:nth-child(2)
{
    width: 83%;
    text-align: center;
    transform: translate(-5%);
}

h1
{
    font-size: 2.5em;
    color:black;
}

header p
{
    font-size: 1.5em;
    color:black;
}

@media screen and (max-width: 700px) {
    h1
    {
        font-size: 5vw;
        color:black;
    }

    header p
    {
        font-size: 4vw;
        color:black;
    }

    header div:nth-child(1)
    {
        display:flex;
        justify-content: center;
        align-items:center;
        width: 25%;
        margin-left: 2% ;
    } 

    header div:nth-child(2)
    {
    width: 83%;
    text-align: center;
    transform: translate(-9%);
    }
}

/* ---------------------MAIN------------------------- */

main
{
    display:flex;
    flex-direction: column;
}

.secondHeader
{
    display:flex;
    justify-content:center;
    height:10vh;
    margin: 0.1em;
    
}

.secondMain
{
    display:flex;
    flex-direction: column;
    margin: 0.1em;
}

.secondMain div
{
    margin-top: 0.5em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    display:inline-block;
    vertical-align: top;
    padding: 00.5em;
}

.secondFooter
{
    display:flex;
    justify-content: space-evenly;
    height:10vh;
}

.icons
{
    display:flex;
    align-items:center;
    perspective: 300px;
    transition: transform 1500ms ease;
    transform-style: preserve-3d;
}

.icons:hover
{
    transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
    
    .secondHeader
    {
    display:flex;
    justify-content:center;
    height:5vh;    
    }

    .secondMain
    {
    margin: 1em 0.1em;
    }

    .imgSecond
    {
    width:20vh;
    } 

    .secondFooter
    {
    display:flex;
    justify-content: space-evenly;
    height:5vh;
    margin: 2vh 0;
    }

    .icons
    {
    display:flex;
    align-items:center;
    perspective: 300px;
    height:10vh;
    width:10vw;
    transition: transform 1500ms ease;
    transform-style: preserve-3d;
    }
}
/* ---------------------FOOTER------------------------- */
footer
{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:15vh;
    width:100%;
    margin-top: 2vh;
}

.scene3d2
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:10vh;
    width: 20vw;
    margin-left: 2vw;    
    perspective: 300px;
    transform-style: preserve-3d;
    transition: transform 2500ms ease;
}

.contact
{
    display:flex;
    justify-content:center;
    height:10vh;
    width: 10vw;    
}

.scene3d2:hover
{
    transform: rotateY(360deg);
}

.bottomIcon{
    display: flex;
}

@media screen and (max-width: 700px) {

    .contact
    {
        display:flex;
        justify-content:center;
        height:7vh;
        width: 15vw;    
        margin: 0 2vh;
    }
}

@media screen and (min-width: 701px) and (max-width: 1080px) {

    .contact
    {
        display:flex;
        justify-content:center;
        height:8vh;
        width: 20vw;
    }
}